@import './responsive.scss';

.layout{
    background-color: rebeccapurple;
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    
    @include lg{
        background-color: rgba(161, 1, 167, 0.63);
    }
    @include md{
        background-color: rgba(77, 183, 209, 0.63);
    }
    @include sm{
        background-color: rgba(211, 32, 32, 0.63);
    }
}