@import './responsive.scss';

.layout{
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    
    @include lg{
        background-color: rgba(248, 238, 238, 0.993);
        max-width: 1280px;
    }
    @include md{
        background-color: rgba(217, 231, 235, 0.856);
        max-width: 768px;
    }
    @include sm{
        background-color: rgba(240, 109, 109, 0.63);
        max-width: 640px;
    }
}